	@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", sans-serif;
}

:root {
  --primary-color: #D3B6EA;
  --secondary-color: black;
}


.quoteBox {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 600px;
  background-color: #ADEEF6;
  margin: 10px;
  margin-right: auto;
  margin-left:auto;
}

.fa-quote-left {
  font-size: 84px;
  color: var(--secondary-color);
}


.quote {
  text-align: center;
  font-style: italic;
  color: var(--primary-color);
}

.author {
  color: var(--secondary-color);
  font-size: 20px;
}

hr {
  margin: 10px 0;
  width: 60%;
  border: 1px solid #364ba788;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.twitter-share-button {
  text-decoration: none;
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 4px;
}

.buttons button {
  cursor: pointer;
  border: none;
  color: var(--secondary-color);
  font-size: 20px;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

.fa-twitter {
  margin-right: 5px;
}
.emoji{
  height: 150px; 
  width: auto; 
  padding-right: 40px;
  margin-top: 100px;
  margin-bottom: 50px;

}

emoji:hover {
  background-color: yellow;
}

